<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Premier League viskipullovedon tilanne</h1>
    <p class="lead">Koko taulukon veto vuoden vaihteeksi</p>
     <p class="lead">Tilanne: Fredde {{freddenPisteet}} pistettä, Mikko {{mikonPisteet}} pistettä</p>
     <p class="lead">{{kommentti}}</p>
  </div>
</header>


<table class="table1 table-bordered">
    <thead>
      <tr>
        <th>Valioliigan tilanne</th>
        <th>Games Played</th>
        <th>Goal Difference</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in premTable  | filter:query" >
        <td>{{event.teamName}}</td>
        <td>{{event.playedGames}}</td>
        <td>{{event.goalDifference}}</td>
        <td>{{event.points}}</td>
      </tr>
      
    </tbody>
  </table>
  <table class="table2 table-bordered">
    <thead>
      <tr>
        <th>Fredden joukkueet</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="fredde in freddenJoukkueet" ng-class="{blue:fredde.points===2, lightblue:fredde.points===1}">
        <td >{{fredde.teamName}}</td>
      </tr>
      
    </tbody>
  </table>
    </table>
  <table class="table3 table-bordered" align="right">
    <thead>
      <tr>
        <th>Mikon joukkueet</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="mikko in mikonJoukkueet" ng-class="{blue:mikko.points===2, lightblue:mikko.points===1}">
        <td>{{mikko.teamName}}</td>
      </tr>
      
    </tbody>
  </table>


  



